# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/
.env/

# Streamlit
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

# Logs
*.log
